@import "general.scss";

.header{
    height: 138px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
    background-color: rgba(246,245,243,0.7) !important;
}

/* navbar */

.navbar{
    height: 100%;
    position: relative;
}

.navbar-container{
    width: 80%;
    max-width: 1727px;
    height: 62px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-divider{
    display: flex;
    height: 100%;
    .navbar-divider:first-child{
        float: left;
    }

    .column{
        flex: 50%;
        /* left */
        .nav-button{
            height: 100%;
            width: 200px;
            border-radius: 4px;
            border: 1px solid #232323;
            align-items: center;
            display: flex;
            justify-content: center;
            background-color: #F6F5F3;
            p{
                color: #3E3E3E;
                font-family: 'MonetaSans-Bold';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                letter-spacing: 0.062em;
                text-align: center;
                transform: translateY(3px);
            }
        }
        .nav-button:hover{
            transition: 0.3s;
            p{
                color:white;
            }
        }

        /* right */
        .nav{
            float: right;
            list-style-type: none;
            height: 100%;
            padding: 0;
            margin:  0;
            display: flex;
            align-items: center;
            li{
                width: 91px;
                float: left;
                font-family: 'TT Commons';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #232323;
            }

            li:hover .highlight{
                width: 90px;
                transition: 0.2s;
            }

            li:not(:first-child):not(:last-child){
                padding: 0px 17px;
            }
        }

        .nav-resume{
            height: 100%;
            margin-left: 60px;
            float: right;
            background: #232323;
            border-radius: 5px;
            width: 207px;
            p{
                display: block;
                margin: 18px auto;
                width: 90px;
                color: #FFFFFF;
                font-family: 'TT Commons';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 0.045em;
                text-align: center;
            }
        }
        .nav-resume:hover p{
            color:#232323;
        }
    }

    /* images */
    .highlight{
        position: absolute;
        z-index: -10;
        width: 0px;
        overflow-x: hidden;
        height: 100%;
        img{
            width: 90px;
            top: 13px;
            left: 0;
            position: absolute;
        }
    }
}