@import "general.scss";

.home{
    margin: 0 auto;
    max-width: 1489px;
    .home-greet{
        padding: 30vh 0;
        width: 100%;
        height: 50vh;
        h1>div{
            height: 100px !important;
        }

        h1{
            font-family: 'SF UI Display light';
            font-style: normal;
            font-weight: 300;
            font-size: 92px;
            line-height: 117%;
            text-align: left;
            letter-spacing: -0.023em;   
            color: white;

            /* animation */
            div{
                animation-duration: 0.3s;
            }
            p{
                animation-duration: 0.3s;
            }
            $n:4;
            @for $i from 1 through $n {
                div:nth-child(#{$i}){
                    animation-delay: $i * 0.3s;
                    p{
                        animation-delay: $i * 0.3s;
                    }
                }
            }

            .home-greet-accent-container{
                display: inline-block;
                color: black;
                transform: translateY(10px);
                width: 360px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                .home-greet-accent-1-container{
                    background: #D0FC53;
                    // animation: appearAnimation ease 1s forwards;
                    // animation-delay: 2.5s;
                    overflow: hidden;
                    position: relative;
                    width: 0px;
                    .home-greet-accent-1{
                        position: absolute;
                        margin: 0 8px;
                        overflow: hidden;
                        width: 360px;
                        font-family: 'MonetaSans-Regular';
                        letter-spacing: 0.01em;   
                        line-height: 107px;
                        transform: translateY(10px);
                    }
    
                }
            }

            .home-greet-accent-container2{
                display: inline-block;
                width: 470px;
                color: black;
                transform: translateY(23px);
                margin: 0 10px 0 16px;
                cursor: pointer;
                .home-greet-accent-2-container{
                    background: #D0FC53;
                    // animation: appearAnimation2 ease 1s forwards;
                    // animation-delay: 3s;
                    overflow: hidden;
                    position: relative;
                    width: 0px;
                    .home-greet-accent-2{
                        position: absolute;
                        margin: 0 8px;
                        overflow: hidden;
                        width: 470px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-family: 'MonetaSans-Regular';
                        letter-spacing: 0.01em;   
                        line-height: 107px;
                        transform: translateY(-5px);
                    }
                }
            }

            @keyframes appearAnimation {
                from{
                    width: 0px;
                }

                to{
                    width: 360px ;
                }
            }

            @keyframes appearAnimation2 {
                from{
                    width: 0px;
                }

                to{
                    width: 470px;
                }
            }
        }
        
        h1 div{
            height: 90px;
        }

        h1 p{
            display: inline;
        }
    }

    .home-contents{
        margin: 0 auto;
        padding-top: 427px;
        padding-bottom: 631px;
        
        display:flex;
        flex-direction: column;
        gap: 240px;

        .contents{
            width: 100%;
            height: 222px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            h2{
                margin: 0 0;
                font-family: 'MonetaSans-Bold';
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 111%;
                text-align: left;
                letter-spacing: -0.023em;
                color: rgba(0, 0, 0, 0.5);
            }
            h6{
                width: 580px;
                margin: 0 0;
                font-family: 'SF UI Display Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 137.5%;
                text-align: left;
                letter-spacing: -0.035em;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    
    /* images */
    .images{
        width: 0px;
        height: 0px;
        position: relative;
        .arrow{
            width: 60px;
            height: 76px;
            position: absolute;
            left: -10px;
            top: -51px;
            animation-delay: 1.8s;
        }
        .name{
            width: 315px;
            height: 68.45px;
            transform: rotate(-4.09deg);
            position: absolute;
            left: 50px;
            top: -130px;
            animation-delay: 1.8s;
        }
        .pencil{
            width: 315px;
            position: absolute;
            left: 900px;
            top: 00px;
        }
    }

    .mix{
        opacity: 0.1;
        transition: 1s;
    }
}


